/* This global selector applies to the entire page */
* {
  /* border: dashed 1px; /*To determine the layout*/
  margin-left: -.1px; /* These margin settings makes that the navigation bar */
  margin-top: -.1px;  /* don't mess up. */
}

/* All of the navigation bar customization. .topBar */
.topBar {
  top: 0;
  width: 100%;
  position: fixed; /* so it doesn't get left behind whilst scrolling */
  z-index: 99; /* so that it'll be at the top of everything */
  background-color: rgba(256, 256, 256, 0.7);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.topBar ul, .topBar p {
  color: black;
  font-family: system-ui, BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, sans-serif;
  font-size: 12pt;
  font-weight: normal;
}
.topBar p  {
  position: absolute;
  right: 60px;
  top: 30%;
  color: rgb(128, 128, 128);
  font-style: oblique;
  font-weight: 300;
}
.topBar ul {
  list-style-type: none;
  padding: 14px 60px;
  padding-top: -10px;
}
.topBar ul li {
  display: inline-block;
  padding-right: 20px;
}
.topBar #currentPage {
  font-weight: 800;
}
/*
  To better position it. Set so that ".topBar" and <hr> overlap nicely
  and does not overextend towards the content.
*/
.topBar hr {
  margin: -16px 0 0 0;
  height: -1px;
}

/* Now, onto the main stuff here! */
.main {
  margin-left: 60px; /* Restoring some margin for the header and body */
  margin-right: 60px;
  margin-top: 0px; /* Just so it wouldn't slip under .topBar */
}

/* Header customisation here! */
#header {
  margin-left: -60px; /* so that it covers the whole screen without overfilling */
  margin-right: -68px; /* ditto, although this one is hard to get it right */
  background-color: black;
  background-image: url(images/hero1.jpg);
  background-position: -390px -10px;
  background-origin: border-box;
  color: white;
  height: 550px;
}
#header h1{
  margin-left: 60px;
  margin-bottom: 0px;
  padding-top: 200px;
  font-family: "Slabo 27px", serif;
  font-size: 72pt;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.59);
  hyphens: auto;
}
#header h2 {
  margin-left: 60px;
  font-family: system-ui, BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, sans-serif;
  font-size: 30pt;
  font-weight: 200;
  color: rgb(195, 195, 195);
}

/* Body customisation here! */
#body {
  width: 60%;
  margin: 40px 0;
  text-align: justify;
}
#body h1 {
  font-family: "Playfair Display", "Slabo 27px", serif;
  font-size: 48pt;
  text-decoration: underline;
  margin-bottom: 20px;
  color: rgb(30, 36, 46);
}
#body h2 {
  font-family: system-ui, BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, sans-serif;
  font-size: 30pt;
  margin-bottom: 6pt;
}
#body p {
  font-family: system-ui, BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, sans-serif;
  font-size: 16pt;
  hyphens: auto;
  margin-bottom: 16pt;
  line-height: 170%;
}

/* Footer stuff here! */
#footer {
  background-color: rgb(37, 40, 51);
  width: 100%;
  height: 170px;
  clear: both;
  position: absolute;
  margin-top: 20px;
  margin-left: -60px;
  margin-right: -70px;
  margin-bottom: -10px;
}
#footer #topFoot p {
  margin-top: 40px;
}
#footer p {
  margin-left: 60px;
  color: rgb(206, 217, 236);
  font-family: system-ui, BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, sans-serif;
}
#footer a {
  color: rgb(135, 157, 214);
}
