<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="font-imports.css">
    <link type="text/css" rel="stylesheet" href="stylesheet.css">
    <title>Title here</title>
  </head>
  <body>
    <div class="topBar">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li id="currentPage">About</li>
        <li>What?</li>
      </ul>
      <p>Coded with love and frustration by Tristan.</p>
      <hr />
    </div>
    <div class="main">
      <div id="header" style="background-image: url()">
        <h1>Heading 1</h1>
        <h2>Heading 2</h2>
      </div>
      <div id="body">
        <h1>Hello, world!</h1>
        <h2>Section header.</h2>
        <p> Sample text.</p>
      </div>
      <div id="footer">
        <p id="topFoot">Paragraph text with #topFoot property.</p>
        <p>
          Normal paragraph text.
        </p>
      </div>
    </div>
  </body>
</html>
